.NavItem {
    display: flex;
    align-items: center;
    padding: 0;
    height: 100%;
    margin: 0;
    
}

.NavItem a {
    height: 100%;
    display: block;   
    padding: 16px 10px;
    align-items: center;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color:white;
}